cffi==2.0.0
colorama==0.4.6
comtypes==1.4.16
cryptography==46.0.3
jieba==0.42.1
numpy==2.3.5
opencv-python==4.13.0.90
packaging==25.0
pillow==12.0.0
psutil==7.1.3
pycparser==2.23
pyperclip==1.11.0
pywin32==311
setuptools==80.9.0
tzdata==2025.2
uiautomation==2.0.29
wechatauto-replica==1.2.2.6
zstandard==0.25.0
